.Divider {
  display: block;
  width: 100%;
}

.Divider--colorAccent {
  background-color: $color-accent;
}

.Divider--colorPrimary {
  background-color: $color-primary;
}

.Divider--colorGray {
  background-color: $color-gray;
}

.Divider--colorGrayLight {
  background-color: $color-gray-light;
}

.Divider--colorBackground {
  background-color: $color-background;
}

.Divider--shadowInset {
  box-shadow: 0 1px 3px rgba(0,0,0,.08) inset;
}