.Avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Avatar--left {
  text-align: left;
  direction: ltr;
}

.Avatar--inline {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}